Перечислите первые три значения колонки dateAdded через запятую и пробел в том порядке, в котором они были выведены. Например:

In [2]:
import pandas as pd

data = pd.read_csv('data.csv')
data.head(3)

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson

Сейчас в данных присутствуют пропущенные значения. Давайте их удалим.

Примените метод dropna.  Сколько осталось записей?

In [3]:
data.dropna().shape

(1925, 16)

Отберите заведения, которые находятся в городе Калифорния ('California'), штат Миссури.  Укажите индексы, под которыми полученные заведения расположены в датафрейме, через запятую и пробел в порядке возрастания.

In [4]:
data['city'] == 'California'
data[data['city'] == 'California']
data[data['city'] == 'California'].index

Int64Index([40483, 52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937,
            52938, 52939, 65070],
           dtype='int64')

Отберите заведения Taco Bell в городе Калифорния ('California'), штат Миссури.

Укажите индексы этих заведений через запятую и пробел в порядке возрастания.

In [5]:
data[(data['city'] == 'California') & (data['name'] == 'Taco Bell')]
data[(data['city'] == 'California') & (data['name'] == 'Taco Bell')].index

Int64Index([52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938,
            52939],
           dtype='int64')

Давайте найдем заведения Taco Bell или заведения, которые находятся в городе Нью-Йорк. При этом обязательно, чтобы в названии меню не было Volcano Taco и Fresco Soft Taco (именно таких значений колонки). Данные нужно сохранить в датафрейм result.

In [6]:
result = data[
  ((data['city'] == 'New York') | (data['name'] == 'Taco Bell')) &
  (~(data['menus.name'].isin(['Volcano Taco', 'Fresco Soft Taco'])))
]

Давайте отберем рестораны, где значение валюты, в которой принимают оплату, не пропущено.

Нужно сохранить данные в результирующий датафрейм result.

In [11]:
result1 = data[~data['menus.currency'].isna()]
result1

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
15,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Potatoes, onion, peppers, mushroom, avocado, b...",Mondo Veggie Burrito,Java Joe's,NM
16,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Grilled tofu, potatoes and your choice of chil...",Tofu Burrito,Java Joe's,NM
17,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z",NaN,Black Bean Burrito,Java Joe's,NM
18,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,NaN,Burrito De Rajas,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
19,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,"lettuce, chihuahua cheese, black beans, mexica...",Taco,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

Напишите через запятую и пробел 5 городов с наибольшим количеством записей.

In [8]:
data['city'].value_counts()

San Diego            1924
Los Angeles          1603
Chicago              1186
San Francisco        1120
New York             1085
                     ...
Corfu                   1
Sharon Hill             1
Lawrence Township       1
Selinsgrove             1
Santa Clarita           1
Name: city, Length: 3601, dtype: int64

Посчитайте, сколько ресторанов Taco Bell находится в каждом городе. Отберите 5 городов, в которых ресторан встречается чаще всего. Количество ресторанов для этих городов с их названиями сохраните в виде объекта pd.Series в переменную result.

In [10]:
result2 = data[data['name'] == 'Taco Bell']['city'].value_counts()[:5]
result2

Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
Name: city, dtype: int64

Давайте найдем рестораны, открытые в октябре.

Отправьте индексы первых пяти ресторанов через запятую и пробел в порядке возрастания.

In [12]:
data['dateAdded'] = pd.to_datetime(data['dateAdded'])
data[data['dateAdded'].dt.month == 10]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
21,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Crispy house-smoked pork belly, hoisin sauce, ...",Korean Pork Belly Tacos,Riff's Joint,Westhampton
22,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, corn and black bean salsa, guacam...",Speedy Gonzalez Burrito,Riff's Joint,Westhampton
23,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, jasmine rice and peanut slaw",Thai Dyed Burrito,Riff's Joint,Westhampton
24,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, cheddar, salsa, rice, sour cream,...",Burrito Supreme,Riff's Joint,Westhampton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76927,AVweZtCQByjofQCxx3uK,11688 Us 23,Fast Food Restaurant,Waverly,NaN,2015-10-22 19:23:28+00:00,2016-08-09T10:11:49Z,39.119935,-82.993279,NaN,NaN,2015-10-22T19:23:28Z,NaN,Sausage Burrito,Mcdonalds,OH
76946,AVweZZ31IN2L1WUf4jVT,2521 Bagby,Restaurant,Houston,"Continental, Contemporary European, Global, In...",2015-10-19 20:42:46+00:00,2016-08-22T11:26:45Z,29.748747,-95.379022,Specialty Bar Menu,USD,2016-04-24T00:00:00Z,NaN,Ahi Tuna Crispy Taco (2),Charivari,TX
76947,AVweZZ31IN2L1WUf4jVT,2521 Bagby,Restaurant,Houston,"Continental, Contemporary European, Global, In...",2015-10-19 20:42:46+00:00,2016-08-22T11:26:45Z,29.748747,-95.379022,Specialty Bar Menu,USD,2016-08-20T00:00:00Z,NaN,Pork Shank (schweinehaxe) Taco (2),Charivari,TX
76948,AVweZ-ZKIN2L1WUf4n9V,110 W Hubbard,Restaurant,Chicago,"Contemporary European, Bar / Lounge / Bottle S...",2015-10-19 20:37:03+00:00,2016-08-09T02:40:48Z,41.890262,-87.631646,Beginners,USD,2016-08-07T00:00:00Z,"Corn tortilla, avocado, sesame, soy sauce, mar...",Tuna Tartare Tacos,Hubbard Inn,IL
76949,AVweZ-ZKIN2L1WUf4n9V,110 W Hubbard,Restaurant,Chicago,"Contemporary European, Bar / Lounge / Bottle S...",2015-10-19 20:37:03+00:00,2016-08-09T02:40:48Z,41.890262,-87.631646,Lunch Plates,USD,2016-04-24T00:00:00Z,NaN,Tuna Tartare Taco,Hubbard Inn,IL

Сделайте группировку по месяцу открытия ресторана (переменная dateAdded). Сколько ресторанов было открыто в каждом месяце? Рассчитайте по количеству уникальных id ресторанов в каждом месяце. Значения dateAdded должны при этом быть индексами. Результирующий датафрейм сохраните в result

In [14]:
result4 = data.groupby(data['dateAdded'].dt.month).agg({'id': 'nunique'})
result4

             id
dateAdded
1           308
2           257
3          4970
4          3224
5          1141
6          1356
7           645
8           479
9           554
10         4716
11         1550
12          239

В этом задании нужно добавить столбец update_deltaс количеством целых дней, полученных от разницы между dateUpdated и dateAdded.

Потом для каждого города найдите (в указанном порядке):

- среднее по переменной update_delta

- широту самой северной закусочной (чем севернее располжоена закусочная, тем больше будет значение широты)

 Названия городов не должны быть индексами. Сохраните результирующий датафрейм в переменную result.  Также сохраните в переменную zep_mean среднее значение update_delta по городу Zephyrhills.

Данные сохранены в переменную data

In [15]:
data['dateAdded'] = pd.to_datetime(data['dateAdded'])
data['dateUpdated'] = pd.to_datetime(data['dateUpdated'])
# print(df1.dtypes)

data['update_delta']=data['dateUpdated'] - data['dateAdded']
data['update_delta']=data['update_delta'].dt.days

result = data.groupby(
    data['city']
).agg({
    'update_delta': 'mean',
    'latitude': 'max'
}).reset_index()

data2 = data[data['city'].isin(['Zephyrhills'])]

zep_mean = result[result['city'] == 'Zephyrhills']['update_delta'].mean()
zep_mean

329.69565217391306

Отберите рестораны, у которых в колонке categories упоминается Pizza

Укажите индекс 3-го элемента, полученного после фильтрации

In [16]:
data[data['categories'].str.contains('Pizza')]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.12102,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,336
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.12102,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,336
66,AVwc_59U_7pvs4fz1Md3,3250 Kennedy Cir,"Pizza,Take Out Restaurants,Caterers,Restaurant...",Dubuque,Pizza,2016-03-29 04:45:06+00:00,2016-05-05 12:40:51+00:00,42.505264,-90.72141,NaN,NaN,"2016-05-05T12:40:51Z,2016-03-29T04:45:06Z",NaN,Taco Supreme,Falbo Bros Pizzeria,IA,37
67,AVwc_59U_7pvs4fz1Md3,3250 Kennedy Cir,"Pizza,Take Out Restaurants,Caterers,Restaurant...",Dubuque,Pizza,2016-03-29 04:45:06+00:00,2016-05-05 12:40:51+00:00,42.505264,-90.72141,NaN,NaN,"2016-05-05T12:40:51Z,2016-03-29T04:45:06Z",NaN,Taco,Falbo Bros Pizzeria,IA,37
158,AVwc_AmZkufWRAb51FxA,133 Howard St,"Pizza,Restaurants",Braintree,Pizza,2016-09-19 17:43:53+00:00,2016-09-19 17:43:53+00:00,42.233826,-70.98024,NaN,USD,2016-09-19T17:43:53Z,"Large salsa, pizza cheese, hamburger, hot pepp...",Mexican Taco,New England House of Pizza,Braintree Hld,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76256,AVweVOBFByjofQCxxRnN,3000 N Dinuba Blvd,"Latin American Restaurants,Take Out Restaurant...",Visalia,"Latin American Restaurants,Mexican",2016-07-06 20:48:02+00:00,2016-11-18 15:46:04+00:00,36.351383,-119.29696,NaN,USD,2016-07-06T20:48:02Z,"Roasted pork, cabbage, cilantro, onion, beans,...",Tacos De Adobado,Figaro's Mexican Grill,CA,134
76291,AVweVXD4ByjofQCxxS7L,35 N Farview Ave,"Italian Restaurant,Pizza Place",Paramus,NaN,2016-03-15 19:34:54+00:00,2016-05-06 20:35:40+00:00,NaN,NaN,NaN,USD,2016-03-15T19:34:54Z,NaN,Taco,La Bella Roma Pizzeria,NJ,52
76507,AVweWyOEkufWRAb5CNJU,1516 E Historic Highway 66,"Take Out Restaurants,Restaurants,Italian Resta...",Gallup,Take Out Restaurants,2017-01-12 18:46:56+00:00,2017-01-12 18:46:56+00:00,35.530148,-108.71973,NaN,NaN,2017-01-12T18:46:56Z,"Beef, Whole Beans, Cheddar Cheese, Onion, Lett...",Navajo Taco,Big Cheese Pizza,Pinedale,0
76669,AVweXxalByjofQCxxnWC,1895 Washington Blvd,"Bars,Restaurants,Bar & Grills,Pizza",Ogden,Bars,2016-12-25 18:11:56+00:00,2016-12-25 18:11:56+00:00,41.233300,-111.97047,NaN,USD,2016-12-25T18:11:56Z,"Our famous chili verde, string potatoes, three...",Chili Verde Breakfast Burrito,Slackwater Pub Pizzeria,Marriott-slaterville City,0
76709,AVweYFH-ByjofQCxxqHG,620 Water St S,"Bars,Pizza,Italian Restaurants,Family Style Re...",Northfield,Bars,2016-04-03 12:15:30+00:00,2016-04-03 12:15:30+00:00,44.453735,-93.16171,NaN,NaN,2016-04-03T12:15:30Z,"Mild Tomato chili sauce, chipotle beef topped ...",Taco - A South of The Boarder Favorite,Carbone's Pizzeria,MN,0

В этом задании снова нужно добавить столбец update_delta, куда будет записана разница в днях между dateUpdated и dateAdded.  Посчитайте среднее и медиану получившейся колонки.

Перечислите значения через пробел (сначала среднее, затем медиану), округлив до 2 знаков.

In [18]:
data['update_delta'] = (data['dateUpdated'] - data['dateAdded']).dt.days
print(data['update_delta'].mean())
print(data['update_delta'].median())

326.22456639917164
364.0

В этом задании нужно отобрать записи, у которых более 20 категорий, далее их нужно сгруппировать по провинциям и подсчитать минимальную longitude в каждой. Округлите значения longitude до 3-х знаков после запятой.

Далее сохраните результирующий датафрейм в файл в формате csv с сепаратором ;. Сам датафрейм должен содержать две колонки: province и longitude

In [19]:
tmp = data[data['categories'].str.split(',').str.len() > 20].groupby('province')['longitude'].min().round(3)
tmp.to_csv('hw_7.csv', sep=';')